.button {
  position: relative;
  font-size: 2rem;
  padding: .8rem .4rem;
  background-color: transparent;
  color : #000;
  border: 2px solid #935327;
  min-width: 10rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: $primaryColour;
    transform: translate(.4em, .4em);
    z-index: -1;
    transition: .2s all cubic-bezier(.17,.67,.83,.67);
  }
  
  &:not([disabled]) {
    transition: .2s all;

    &:hover,
    &:focus {
      &::after {
        transform: translate(0,0);
      }
    }
  }


  &[disabled] {
    background-color: #542614;
    color:#74311C;
  }
}