$gridWidth: 114rem;
$gridGutter: 5rem;

$gutterVerticalSm: 1.8rem;
$gutterVerticalMd: 2.4rem;
$gutterVerticalLg: 3.2rem;

$headingFont: 'Hind Siliguri', sans-serif;
$bodyFont: 'Solway', serif;

/*** COLOURS ***/
$white: #FFF;
$black: #000;
