/*** LAYOUT ***/
$gridWidth: 114rem;
$gridGutter: 5rem;

$gutterVerticalSm: 1.2rem;
$gutterVerticalMd: 3.6rem;
$gutterVerticalLg: 5.4rem;

/*** FONTS ***/
$headingFont: 'Hind Siliguri', sans-serif;
$bodyFont: 'Solway', serif;

/*** COLOURS ***/
$white: #FFF;
$black: #000;