/*** LAYOUT ***/
$gridWidth: 114rem;
$gridGutter: 5rem;

$gutterVertical--sm: 1.2rem;
$gutterVertical--md: 3.6rem;
$gutterVertical--lg: 4.8rem;

/*** FONTS ***/
$headingFont: 'Hind Siliguri', sans-serif;
$bodyFont: 'Solway', serif;

/*** COLOURS ***/
$white: #FFF;
$black: #000;